.catalog {
    background-color: $dark-blue;
    color: #ffffff;
}

.catalog__wrapper {
    margin: 0 auto;
    padding: 66px 0 140px;
    width: 1222px;

    @media (max-width: 1281px)  {
        width: 94%;
    }

    @media (max-width: 1023px) {
        padding: 57px 0 75px;
        width: 670px;
    }

    @media (max-width: 767px) {
        padding: 48px 0 86px;
        width: 84.38%;
    }
}

.catalog__wrapper h3 {
    margin: 0 0 53px;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;

    @media (max-width: 1023px) {
        margin-bottom: 37px;
    }

    @media (max-width: 767px) {
        padding-right: 20px;
        margin-bottom: 29px;
        font-size: 28px;
        line-height: 39px;
    }
}

.catalog__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(3, 350px);
    column-gap: 86px;
    row-gap: 50px;

    @media (max-width: 1281px) {
        grid-template-columns: repeat(3, 300px);
        column-gap: 32px;
        width: 963px;
        margin: 0 auto;
    }

    @media (max-width: 1023px) {
        grid-template-columns: 670px;
        row-gap: 30px;
        width: 100%;
    }

    @media (max-width: 767px) {
        grid-template-columns: minmax(270px, 1fr);
    }
}

.catalog__item a {
    position: relative;

    overflow: scroll;
    cursor: pointer;
    z-index: 1;

    &:hover {
        opacity: 0.5;
    }
}

.catalog__item h4{
    position: absolute;
    top: 50px;
    left: 40px;

    margin: 0;
    width: 230px;
    padding-right: 60px;

    color: #ffffff;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    z-index: 3;

    @media (max-width: 1023px) {
        top: 37px;
        left: 45px;

        padding-right: 80px;
    }

    @media (max-width: 767px) {
        top: 26px;
        left: 30px;

        width: 200px;
        padding-right: 67px;

        font-size: 18px;
        line-height: 30px;
    }
}

.catalog__item img {
    @media (max-width: 1281px) {
        width: 300px;
    }

    @media (max-width: 1023px) {
        width: 670px;
        height: 250px;
    }

    @media (max-width: 767px) {
        min-width: 270px;
    }
}

.catalog__arrow {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

    background-color: $light-blue;

    @media (max-width: 767px) {
        width: 40px;
        height: 40px;
    }
}

.catalog__arrow svg {
    @media (max-width: 767px) {
        width: 3px;
        height: 7px;
    }
}
